# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Create tables
- Evaluate simple code

## Author
Dennis A. Silva Cullishpuma

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C+

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn

| Data Science Tools |
| ------ |
| Jupyter Notebook |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

 $$
 c = a + b
 $$
 $$
 c = a -b 
 $$

This a simple arithmetic expression to mutiply then add integers: In this code cell evaluate the expression (3*4)+5.

In [1]:
c = (3*4)+5
print(c)

17

In this code cell write an expression that converts 200 minutes into hours.

In [3]:
# This will convert 200 minutes to hours by diving by 60
min = 200
hours = min / 60
hours

3.3333333333333335